@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  --text: #f9f6f2;
  --text-done: #41415a;
  --bg: #17171F;
  --bg-light: #1e1e29;

  --radius: 0.75rem;
  --radius-s: 0.25rem;
  --shadow: 1px 1px 13px #03030390;

  --font-family: 'Space Grotesk', sans-serif;

  font-size: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  display: flex;
  overflow: auto;
  color: var(--text);
  background: var(--bg);
  align-items: flex-start;
  justify-content: center;
  font-family: var(--font-family);
  box-shadow: var(--shadow);
}

div {
  padding: 1rem;
}

label {
  padding: 0.5rem 0.5rem;
}

input {
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: var(--radius-s);
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-family);
}

button {
  padding: 0.5rem 0.5rem;
  background: var(--bg);
  color: var(--text);
  border: none;
  border-radius: var(--radius-s);
  font-family: var(--font-family);
  font-weight: 600;
}

/* ========= New Item ======================== */

.wrapper {
  width: 80vw;
  display: flex;
  flex-direction: column;
  background: var(--bg-light);
  align-items: center;
  justify-content: space-evenly;
  border-radius: var(--radius);
}

.new-item-wrapper {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-item-line {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.new-item-input {
  width: 100%;
}

/* ========= List ======================== */

ul {
  width: 90%;
  list-style-type: none;
  padding: 1rem;
}

li {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.list-label {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: left;
  gap: 1rem;
}

.list li:has(input:checked) .list-span {
  color: var(--text-done);
  text-decoration: line-through;
}

/* ========= Install PWA ===================== */
.link-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: var(--bg-light);
}

/* ========= Desktop ===================== */
@media screen and (min-width: 720px) {
  .new-item-line {
    width: 60%;
  }

  ul {
    width: 60%;
  }

  .link-button {
    position: absolute;
    bottom: auto;
    top: 1rem;
    right: 1rem;
  }
}